# What this is
This notebook is a log of how I figured out the pieces of the loop to grab player accomplishment data and GM data in Parts 3 and 4 of the NBA draft series I am working on. I only thought to upload this after a suggestion from a collaborator that I work on the loops in an iterative way. This represents that iterative process, but unfortunately I had cleaned it up from all the errors of my experimentation. This file runs smoothly to create the GM dataframe that I want. In the future, when I create these files, I'll try to leave the errors in there as much as possible and notate the errors as they occur and how I solved them. I won't be uploading these to my [blog][1] just because these files, with all their errors, are so cumbersome that I think they will detract from the readability of the blog. 
Another reason for creating these files and uploading them is because I current live in Nairobi where it is hard to find fast internet. This makes it hard to do things like scrape a DataFrame or even upload a cloud stored csv file. Because of this, I have to create my own dataframes that replicate those I would be working with and work through these sample DataFrames before putting it into the full notebook and running that when I get a strong internet connection.
[1]: https://rvino.github.io/category/posts.html

In [34]:
import pandas as pd
from pandas import DataFrame
import numpy as np

In [19]:
import numpy as np

In [49]:
df = DataFrame([['CHH', 'Bernie Bickerstaff', '2003-10-16', '2007-05-31'],
                    ['CHH', 'Rod Higgins', '2007-05-31', '2011-06-14'],
                    ['CHH', 'Fake GM', '2011-06-14', '2011-06-20'],
                    ['CHH', 'Fake GM2', '2011-06-20', '2011-07-10'],
                    ['CHH', 'Fake GM3', '2011-07-10', '2012-05-30'],
                    ['CHH', 'Fake GM4', '2012-05-30', '2014-10-30']], columns = ('Team', 'Executive', 'Start', 'End'))

In [50]:
df

  Team           Executive       Start         End
0  CHH  Bernie Bickerstaff  2003-10-16  2007-05-31
1  CHH         Rod Higgins  2007-05-31  2011-06-14
2  CHH             Fake GM  2011-06-14  2011-06-20
3  CHH            Fake GM2  2011-06-20  2011-07-10
4  CHH            Fake GM3  2011-07-10  2012-05-30
5  CHH            Fake GM4  2012-05-30  2014-10-30

In [51]:
df.dtypes

Team         object
Executive    object
Start        object
End          object
dtype: object

In [52]:
df['Start'] = pandas.to_datetime(df['Start'], errors='coerce')
df['End'] = pandas.to_datetime(df['End'], errors='coerce')
df.dtypes

Team                 object
Executive            object
Start        datetime64[ns]
End          datetime64[ns]
dtype: object

In [53]:
df['start_year'] = df['Start'].dt.year
df

  Team           Executive      Start        End  start_year
0  CHH  Bernie Bickerstaff 2003-10-16 2007-05-31        2003
1  CHH         Rod Higgins 2007-05-31 2011-06-14        2007
2  CHH             Fake GM 2011-06-14 2011-06-20        2011
3  CHH            Fake GM2 2011-06-20 2011-07-10        2011
4  CHH            Fake GM3 2011-07-10 2012-05-30        2011
5  CHH            Fake GM4 2012-05-30 2014-10-30        2012

In [54]:
draftDates = {2003: '2003-06-26', 2004: '2004-06-24', 2005: '2005-06-28', 2006: '2006-06-28', 2007: '2007-06-28',
             2008: '2008-06-26', 2009: '2009-06-25', 2010: '2010-06-24', 2011: '2011-06-23', 2012: '2012-06-28',
             2013: '2013-06-27', 2014: '2014-06-26'}

In [55]:
df['start_cut'] = df.start_year.map(draftDates)
df

  Team           Executive      Start        End  start_year   start_cut
0  CHH  Bernie Bickerstaff 2003-10-16 2007-05-31        2003  2003-06-26
1  CHH         Rod Higgins 2007-05-31 2011-06-14        2007  2007-06-28
2  CHH             Fake GM 2011-06-14 2011-06-20        2011  2011-06-23
3  CHH            Fake GM2 2011-06-20 2011-07-10        2011  2011-06-23
4  CHH            Fake GM3 2011-07-10 2012-05-30        2011  2011-06-23
5  CHH            Fake GM4 2012-05-30 2014-10-30        2012  2012-06-28

In [56]:
df['cut_year'] = df['Start'].dt.year + 1
df

,Team,Executive,Start,End,start_year,start_cut,cut_year
0,CHH,Bernie Bickerstaff,2003-10-16,2007-05-31,2003,2003-06-26,2004
1,CHH,Rod Higgins,2007-05-31,2011-06-14,2007,2007-06-28,2008
2,CHH,Fake GM,2011-06-14,2011-06-20,2011,2011-06-23,2012
3,CHH,Fake GM2,2011-06-20,2011-07-10,2011,2011-06-23,2012
4,CHH,Fake GM3,2011-07-10,2012-05-30,2011,2011-06-23,2012
5,CHH,Fake GM4,2012-05-30,2014-10-30,2012,2012-06-28,2013

In [57]:
df['end_cut'] = df.cut_year.map(draftDates)
df

,Team,Executive,Start,End,start_year,start_cut,cut_year,end_cut
0,CHH,Bernie Bickerstaff,2003-10-16,2007-05-31,2003,2003-06-26,2004,2004-06-24
1,CHH,Rod Higgins,2007-05-31,2011-06-14,2007,2007-06-28,2008,2008-06-26
2,CHH,Fake GM,2011-06-14,2011-06-20,2011,2011-06-23,2012,2012-06-28
3,CHH,Fake GM2,2011-06-20,2011-07-10,2011,2011-06-23,2012,2012-06-28
4,CHH,Fake GM3,2011-07-10,2012-05-30,2011,2011-06-23,2012,2012-06-28
5,CHH,Fake GM4,2012-05-30,2014-10-30,2012,2012-06-28,2013,2013-06-27

In [58]:
df['start_cut'] = pd.to_datetime(df['start_cut'], errors='coerce')
df['end_cut'] = pd.to_datetime(df['end_cut'], errors='coerce')
df.dtypes

Team                  object
Executive             object
Start         datetime64[ns]
End           datetime64[ns]
start_year             int64
start_cut     datetime64[ns]
cut_year               int64
end_cut       datetime64[ns]
dtype: object

In [60]:
# Drops GM's that were hired after the draft in a given year and released prior to the draft the following year
df = df[~((df['Start'] >= df['start_cut']) & (df['End'] <= df['end_cut']))] 
# Drops GM's hired and fired in the same year of a draft and prior to the draft
df = df[~((df['Start'] <= df['start_cut']) & (df['End'] <= df['start_cut']))] 
df

,Team,Executive,Start,End,start_year,start_cut,cut_year,end_cut
0,CHH,Bernie Bickerstaff,2003-10-16,2007-05-31,2003,2003-06-26,2004,2004-06-24
1,CHH,Rod Higgins,2007-05-31,2011-06-14,2007,2007-06-28,2008,2008-06-26
3,CHH,Fake GM2,2011-06-20,2011-07-10,2011,2011-06-23,2012,2012-06-28
5,CHH,Fake GM4,2012-05-30,2014-10-30,2012,2012-06-28,2013,2013-06-27

In [37]:
# Now I'm going to create the draft year column for the first year that each GM drafted. 
df['Draft_year'] = (df['start_year']+1)[(df['Start'] >= df['start_cut'])] # This gives the GM's first year of the draft as the year after he started if he started after July 1 of the previous year
# Now filling the rest of 'Draft_year' with just the year column
df['Draft_year'] = df['Draft_year'].fillna(df['start_year'])
df

,Team,Executive,Start,End,start_year,start_cut,cut_year,end_cut,Draft_year
0,CHH,Bernie Bickerstaff,2003-10-16,2007-05-31,2003,2003-06-26,2004,2004-06-24,2004
1,CHH,Rod Higgins,2007-05-31,2011-06-14,2007,2007-06-28,2008,2008-06-26,2007
2,CHH,Fake GM,2011-06-14,2011-06-20,2011,2011-06-23,2012,2012-06-28,2011
3,CHH,Fake GM2,2011-06-20,2014-10-20,2011,2011-06-23,2012,2012-06-28,2011

In [228]:
df.set_index('Draft_year')

           Team           Executive
Draft_year
2004        CHH  Bernie Bickerstaff
2007        CHH         Rod Higgins

In [229]:
A = int(df.Draft_year[0])
A

2004

In [230]:
A = int(df.Draft_year[0])
df.set_index('Draft_year').reindex(range(A,2015))

           Team           Executive
Draft_year
2004        CHH  Bernie Bickerstaff
2005        NaN                 NaN
2006        NaN                 NaN
2007        CHH         Rod Higgins
2008        NaN                 NaN
2009        NaN                 NaN
2010        NaN                 NaN
2011        NaN                 NaN
2012        NaN                 NaN
2013        NaN                 NaN
2014        NaN                 NaN

In [233]:
df = df.set_index('Draft_year').reindex(range(A,2015)).reset_index()

In [234]:
df

    Draft_year Team           Executive
0         2004  CHH  Bernie Bickerstaff
1         2005  NaN                 NaN
2         2006  NaN                 NaN
3         2007  CHH         Rod Higgins
4         2008  NaN                 NaN
5         2009  NaN                 NaN
6         2010  NaN                 NaN
7         2011  NaN                 NaN
8         2012  NaN                 NaN
9         2013  NaN                 NaN
10        2014  NaN                 NaN

In [235]:
col = ['Team', 'Executive']
df[col] = df[col].ffill()

In [236]:
df

    Draft_year Team           Executive
0         2004  CHH  Bernie Bickerstaff
1         2005  CHH  Bernie Bickerstaff
2         2006  CHH  Bernie Bickerstaff
3         2007  CHH         Rod Higgins
4         2008  CHH         Rod Higgins
5         2009  CHH         Rod Higgins
6         2010  CHH         Rod Higgins
7         2011  CHH         Rod Higgins
8         2012  CHH         Rod Higgins
9         2013  CHH         Rod Higgins
10        2014  CHH         Rod Higgins

In [196]:
df = df[df.Draft_year >= 2005]
df

  Team    Executive  Draft_year
1  CHH  Rod Higgins        2007

In [2]:
import pandas as pd
data = {'Player1':['Dwight Howard', 'Pau Gasol', 'Pau Gasol', 
                 'Lebron James'], 'Player2':['Pau Gasol',
                                           'Lebron James',
                                           'Kevin Durant',
                                           'James Harden']}
df = pd.DataFrame(data)
df

         Player1       Player2
0  Dwight Howard     Pau Gasol
1      Pau Gasol  Lebron James
2      Pau Gasol  Kevin Durant
3   Lebron James  James Harden

In [6]:
stacked = pd.DataFrame(df.stack())
stacked

                       0
0 Player1  Dwight Howard
  Player2      Pau Gasol
1 Player1      Pau Gasol
  Player2   Lebron James
2 Player1      Pau Gasol
  Player2   Kevin Durant
3 Player1   Lebron James
  Player2   James Harden

In [21]:
df_final = pd.DataFrame(stacked[0].value_counts())
df_final

               0
Pau Gasol      3
Lebron James   2
Kevin Durant   1
James Harden   1
Dwight Howard  1

In [22]:
df_final['Player'] = df_final.index
df_final

               0         Player
Pau Gasol      3      Pau Gasol
Lebron James   2   Lebron James
Kevin Durant   1   Kevin Durant
James Harden   1   James Harden
Dwight Howard  1  Dwight Howard

In [23]:
df_final.reset_index(level=0, inplace=True)
df_final

           index  0         Player
0      Pau Gasol  3      Pau Gasol
1   Lebron James  2   Lebron James
2   Kevin Durant  1   Kevin Durant
3   James Harden  1   James Harden
4  Dwight Howard  1  Dwight Howard

In [18]:
df_final.reindex(range(0,A)).reset_index()
df_final

               0
Pau Gasol      3
Lebron James   2
Kevin Durant   1
James Harden   1
Dwight Howard  1

In [19]:
df_final.set_index('Player')
df_final

KeyError: 'Player'